section{
    width: 1200px;
    background: #3A4965;
    margin: 0px auto;
    padding: 25px;
}
table {
   width: 1150px;
    border-collapse: collapse;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #484848;
}


td {
    height: 72px;
    border-right:1px solid #DDDDDD;
}
td:last-child{
    border: none;
}

tfoot {
    height: 109px;
}

tbody,
tfoot,
thead {
    text-align: center;
}

.FAFAFA {
    background-color: #fafafa;
}

.grin {
    background: #89C331;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
}

.red {
    background: #F04A56;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
}

.blu {
    background: #20807C;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
}
.cost{
    position: relative;
    height: 86px;
}
.dollar {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    color: #484848;
    padding-right: 117px ;
    padding-top: 14px;
    
     }
     .dollar::after{
     content: '.99';
     font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
    position: absolute;
    top: 12px;
    left: 48%;
    
     }
.month{
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #484848;
position: absolute;
left: 50%;
top: 36px;
}
svg {
    margin-right: 4px;
}

.EEEEEE {
    background-color: #EEEEEE;
}

.E3E3E3 {
    background-color: #e3e3e3;
}

.F2F2F2 {
    background-color: #F2F2F2;
}

.DDDDDD {
    background-color: #DDDDDD;
}

button {
    position: relative;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.input_green::before {
    content: '';
    position: absolute;
    width: 189px;
    height: 9px;
    left: 0px;
    top: 44px;
    background: #79B027;
    border-radius: 0px 0px 5px 5px;
}
.input_brovn::before {
    content: '';
    position: absolute;
    width: 188.89px;
    height: 9px;
    left: 0px;
    top: 44px;
    background: #404040;
    border-radius: 0px 0px 5px 5px;
}
.input_red::before {
    content: '';
    position: absolute;
    width: 188.89px;
    height: 9px;
    left: 0px;
    top: 44px;
    background: #DF3A46;
    border-radius: 0px 0px 5px 5px;
}
.input_blu::before {
    content: '';
    position: absolute;
    width: 188.89px;
    height: 9px;
    left: 0px;
    top: 44px;
    background: #16736F;
    border-radius: 0px 0px 5px 5px;
}

.input_brovn {
    background: #484848;
    padding: 18px 54.5px;

}

.input_green {
    background: #89C331;
    padding: 18px 62px;

}

.input_red {
    background: #F04A56;
    padding: 18px 62px;
}

.input_blu {
    background: #20807C;
    padding: 18px 62px;
}
