@font-face {
    font-family: 'fontawesome';
    font-display: swap;
    src: url("../fonts/fontawesome.woff2");
    src: local("O"), url("../fonts/fontawesome.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

section {
    width: 1200px;
    background: #3A4965;
    margin: 0px auto;
    padding: 25px;
}

table {
    width: 1150px;
    border-collapse: collapse;
    font-family: 'Arimo';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}


h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #484848;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #484848;

}

.rows_others {
    height: 160px;
    border-bottom: 1px solid #E3E3E3;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.27);
}

.rows_others:first-child,
.rows_others:last-child,
.rows_others:nth-child(2) {
    border: none;
}

.rows_first {
    height: 115px;
    border-bottom: 10px solid #3A4965;
}

.colums_first {
    position: relative;
    font-family: 'fontawesome';
}

svg {
    position: absolute;
    left: calc(50% - 12px);
    top: 20%;
}

.colums_color_FAFAFA {
    background-color: #FAFAFA;
    width: 160px;
}

.colums_color_E3E3E3 {
    background-color: #E3E3E3;
    width: 160px;
}

.colums_color_FAFAFA:first-child {
    width: 198px;

}

.colums_first>p {
    padding-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
}


.green {
    background: #89C331;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.red {
    background: #F04A56;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.blu {
    background: #20807C;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.button_box{
    padding: 20px 0px;
}

.how_much {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.how_much_text {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 4px;
}
.how_much_text::after{
    content: '.99';
    font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
position: absolute;
left:40px ;
bottom: 10px;

}

.how_much_span{
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

button {
    background: #414141;
    width: 144px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 12px 0px 15px 0px;


}
